
.mg-btm{
    margin-bottom: 50px;
}

.ctn-alg{
    margin: 0 auto;
}

.marginspace{

   margin: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}